* {
font-family: arial;
font-size: 12pt;
}

#box {
background: black;
width: 300px;
padding-left: 5px;
padding-top: 10px;
display: inline-block;
}

#box h1 {
color: white;
line-height: 1;
font-size: 2em;
}   

#nav {
list-style-type: none;
border: 1px black solid;
border-right: 0px;
border-left: 0px;
width: 600px;
position: relative;
left: -5px;
}

#nav a {
color: black;
text-decoration: none;
}


#nav li {
display: inline;
margin-right: 40px;
}

#navbox {
border: 1px black solid;
position: relative;
width: 262px;
padding: 0px;
margin-top: 0px;
margin-bottom: 0px;
}

#navbox a {
color: black;
text-decoration: none;
width: 260px;
display: inline-block;
}

#navbox li {
list-style-type: none;
}

#navbox a:hover {
background: #E6E6E6;
}

#content {
background: #E8E8E8;
width: 740px;
padding-top: 1px;
padding-left: 5px;
padding-bottom: 5px;
margin-bottom: 60px;
position: absolute;
left: 313px;
}

#content p {
padding-left: 10px;
padding-right: 10px;
text-align: justify;
line-height: 1.5;
}

#newsitem {
 width: 200px;
 border: 1px black solid;
 position: relative;
 width: 262px;
}

#newsitem p {
padding-left: 5px;
padding-right: 5px;
text-align: justify;
}

.search {
width: 230px;
border-bottom: 1px solid black;
border-top: 1px solid black;
border-left: 0px;
border-right: 0px;
margin-left: 2px;
margin-top: 15px;
font-style: italic;
color: #262626;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

input:focus {outline:none;}

.links a {
text-decoration: none;
font-size: 9pt;
color: black;
}

.links {
width: 150px;
}

.versions {
margin-top: -50px; 
margin-left: -10px;
}
.versions a {
text-decoration: underline;
font-size: 8.5pt;
color: black;
margin-right: 4px;
}

.versions p {
font-size: 8.5pt;
color: black;
margin-right: 4px;
display: inline;
margin-top: 0px;
}

.versions li {
display: inline;
}

.versions ul {
list-style-type: none;
margin-top: 0px;
margin-left: -30px;
}

.bbutton {
background: black;
width: 264px;
margin-bottom: -10px;
}

.bbutton h2 {
color: white;
font-size: 14pt;
padding: 3px;
}

.bbutton a {
text-decoration: none;
}

#foot {
height: 1px; 
width: 264px; 
display:inline-block;
border: 1px black solid; 
border-bottom: 0px;
border-left: 0px;
border-right: 0px;
position: relative;
top: -50px;  
}
