* {
font-family: 'Lora', serif;
font-size: 11pt;
font-weight: 100;
color: black;
text-decoration: none;
}

#placeholder {
    height: 20px;
}

h1 {
    font-family: 'Roboto', 'Lora', sans-serif;
    font-size: 20pt;
}

h2 {
  font-size: 14pt;
  font-style: italic;
}

article {
   width: 800px;
}

article p {
    line-height: 1.5;
}

td {
 padding-left: 10px;
}

#topic:hover {
     color: grey;
    cursor: default;
}

#arrow {
 font-size: 16pt;   
}

#vr {
  width: 1px;
  height: 100%;
  background: black;
  float: right;
  position: absolute;
  left: 600px;
  top: 0px;
}

#container {
  width: 800px;
}
