* {
font-family: 'Lora', serif;
font-size: 11pt;
font-weight: 100;
color: black;
text-decoration: none;
}

#placeholder {
    height: 20px;
}

h1 {
    font-size: 20pt;
}

article {
   width: 800px;
}

article p {
    line-height: 1.5;
}