/* GRUNDGERÜST */

#container {
    border-top: black solid thin;
    border-left: #333333 solid thin;
    border-bottom: #666666 solid thin;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 8px;
    border-right: 0;
    /* border-top: #004c40 solid 10px; */
    padding: 5px;
    margin: 0 auto;
    margin-top: 30px;
    width: 1000px;
}

header {
    margin: 10px;
}

#lang {

    padding: 0px;
    position: relative;
    top: -26px;
    left: 11px;
    height: 10px;
}

#lang li {
    display: inline-block;
    list-style-type: none;
}

#lang a {
    font-size: 9pt;
}

#lang a:hover {
    text-decoration: underline;
}

#hr_nav {
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, #0039a6 0%, #0050e6 100%);
    margin-left: -5px;
    margin-bottom: -15px;
    width: 226px;
}

#nav {
    border-bottom: black dashed thin;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: -5px;
    margin-right: 420px;
    padding-left: 160px;
}


#nav li {
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;
}

#nav a {
    opacity: 0.6;
    transition: 0.3s;
}

#nav a:hover {
    opacity: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

article {
    line-height: 2;
    text-align: justify;
    margin-left: 10px;
    margin-right: 50px;
    font-size: 12pt;
}

footer {
    margin: 0 auto;
    width: 1000px;
}

footer ul {
    position: relative;
    left: 753px;
    top: -10px;
    width: 226px;

}

footer li {
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
}

footer a {
    font-size: 10pt;
    text-decoration: none;
    color: black;

}

/* GRUNDGERÜST ENDE */


/* FONTS */

p {
    font-family: 'Roboto', Arial, sans-serif;
}

h1 {
    /* Website-Header Teil 1 */
    font-family: 'Arimo', 'Roboto', Arial, sans-serif;
    font-size: 25pt;
    color: black;
    opacity: 0.87;
}

h2 {
    /* Website-Header Teil 2 */
    font-family: 'Arimo', 'Roboto', Arial, sans-serif;
    font-size: 13pt;
    color: #bfbfbf;
    font-weight: 100;

}

h3 {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14pt;
    color: black;
}

a {
    font-family: 'Roboto', Arial, sans-serif;
    color: black;
    text-decoration: none;
}

/* FONTS ENDE */
